{% extends "base.html" %} {% block title %}Sell - CryptoCoin{% endblock %} 

{% block content %}
<br />
<form method="POST">
    <h3 align="center">Sell CryptoCoin</h3>
    <div class="form-group">
        <label for="sell">How much CryptoCoin do you want to sell?</label>
        <input
          type="sell"
          class="form-control"
          id="sell"
          name="sell"
         placeholder="Enter Positive Number"
       />
     </div>
     <br />
     <button type="submit" class="btn btn-primary">Sell Coins</button>
{% endblock %}